node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

.env
.env.*
!.env.example

.vscode
.idea
*.swp
.DS_Store

coverage
test
jest.config.js
*.spec.js
*.test.js

docs
*.md
*.png
*.jpg
*.jpeg
*.gif
